!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tutspolls
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'http://d3js.org/d3.v3.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' , integrity: true, crossorigin: :anonymous
    %body
    =render 'nav'
    .container
      =content_tag :div, flash[:notice], class: "flash bg-success" if flash[:notice]
      =content_tag :div, flash[:alert], class: "flash bg-danger" if flash[:alert]
      =yield
